In [8]:
run pandas_color.py

                  00 UTC    06 UTC    12 UTC    18 UTC
Midland    WRF  1.519593  0.886883 -0.633269  1.432492
           MOS -0.438961 -0.589999  0.585331 -0.857149
Hereford   WRF  1.349844  0.963072 -0.578086 -0.660738
           MOS  0.236955 -0.183058  0.973471  0.839803
Hobbs      WRF -0.885047  0.882342 -0.650049 -0.367684
           MOS -0.328883  0.441916  0.587652 -0.475075
Childress  WRF  0.606404 -0.452604  0.834073 -0.649894
           MOS  0.038253 -0.168527  0.298252 -0.794876
Reese      WRF  1.072264  0.626380  0.549550 -0.143682
           MOS -0.580161  0.633863 -0.540406 -0.434136
San Angelo WRF  2.107913  0.733523  1.300856  0.546467
           MOS  0.066994  0.139666 -1.489201  0.092602

In [9]:
style

'\n    <style>\n        table#id891318 tr:hover {background-color: #f5f5f5}\n    </style>\n    '

In [10]:
df_html

'<table id=id891318  border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>00 UTC</th>\n      <th>06 UTC</th>\n      <th>12 UTC</th>\n      <th>18 UTC</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th rowspan="2" valign="top">Midland</th>\n      <th>WRF</th>\n      <td>1.519593</td>\n      <td>0.886883</td>\n      <td>-0.633269</td>\n      <td>1.432492</td>\n    </tr>\n    <tr>\n      <th>MOS</th>\n      <td>-0.438961</td>\n      <td>-0.589999</td>\n      <td>0.585331</td>\n      <td>-0.857149</td>\n    </tr>\n    <tr>\n      <th rowspan="2" valign="top">Hereford</th>\n      <th>WRF</th>\n      <td>1.349844</td>\n      <td>0.963072</td>\n      <td>-0.578086</td>\n      <td>-0.660738</td>\n    </tr>\n    <tr>\n      <th>MOS</th>\n      <td>0.236955</td>\n      <td>-0.183058</td>\n      <td>0.973471</td>\n      <td>0.839803</td>\n    </tr>\n    <tr>\n      <th rowspan="2" valign="top">Hobbs</th>\n      <th>WRF</th>\n      <td>-0.885047</td>\n      <td>0.882342</td>\n      <td>-0.650049</td>\n      <td>-0.367684</td>\n    </tr>\n    <tr>\n      <th>MOS</th>\n      <td>-0.328883</td>\n      <td>0.441916</td>\n      <td>0.587652</td>\n      <td>-0.475075</td>\n    </tr>\n    <tr>\n      <th rowspan="2" valign="top">Childress</th>\n      <th>WRF</th>\n      <td>0.606404</td>\n      <td>-0.452604</td>\n      <td>0.834073</td>\n      <td>-0.649894</td>\n    </tr>\n    <tr>\n      <th>MOS</th>\n      <td>0.038253</td>\n      <td>-0.168527</td>\n      <td>0.298252</td>\n      <td>-0.794876</td>\n    </tr>\n    <tr>\n      <th rowspan="2" valign="top">Reese</th>\n      <th>WRF</th>\n      <td>1.072264</td>\n      <td>0.626380</td>\n      <td>0.549550</td>\n      <td>-0.143682</td>\n    </tr>\n    <tr>\n      <th>MOS</th>\n      <td>-0.580161</td>\n      <td>0.633863</td>\n      <td>-0.540406</td>\n      <td>-0.434136</td>\n    </tr>\n    <tr>\n      <th rowspan="2" valign="top">San Angelo</th>\n      <th>WRF</th>\n      <td>2.107913</td>\n      <td>0.733523</td>\n      <td>1.300856</td>\n      <td>0.546467</td>\n    </tr>\n    <tr>\n      <th>MOS</th>\n      <td>0.066994</td>\n      <td>0.139666</td>\n      <td>-1.489201</td>\n      <td>0.092602</td>\n    </tr>\n  </tbody>\n</table>'

In [11]:
HTML(df_html)

In [12]:
HTML(style + df_html)

In [13]:
HTML_with_style(df.head())

In [14]:
HTML_with_style(df.head(), '<style>table {color: red}</style>')

In [15]:
style = """
<style>
    tr:nth-child(even) {color: green;}
    tr:nth-child(odd)  {color: aqua;}
</style>
"""
HTML_with_style(df.head(), style)

In [16]:
style = """
<style>
    tr:nth-child(even) {color: blue;}
    tr:nth-child(odd)  {color: red;}
    tr:hover {background-color: #f5f5f5}
</style>
"""
HTML_with_style(df.head(), style)